<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLibrarian</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.AddLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLibrarianForm</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.AddLibrarianForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLibrarian</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.ViewLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLibrarianForm</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.EditLibrarianForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLibrarian</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.EditLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLibrarian</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.DeleteLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrarianLogin</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.LibrarianLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookForm</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.AddBookForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBook</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.ViewBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBookForm</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.IssuedBookForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBook</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.IssueBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewIssuedBook</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.ViewIssuedBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBookForm</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.ReturnBookForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBook</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.ReturnBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutLibrarian</servlet-name>
        <servlet-class>com.losstname.elibrary.servlet.LogoutLibrarian</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLibrarian</servlet-name>
        <url-pattern>/addlibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLibrarianForm</servlet-name>
        <url-pattern>/addlibrarianform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLibrarian</servlet-name>
        <url-pattern>/viewlibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLibrarianForm</servlet-name>
        <url-pattern>/editlibrarianform/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLibrarian</servlet-name>
        <url-pattern>/editlibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLibrarian</servlet-name>
        <url-pattern>/deletelibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/logoutadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrarianLogin</servlet-name>
        <url-pattern>/librarianlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookForm</servlet-name>
        <url-pattern>/addbookform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/addbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBook</servlet-name>
        <url-pattern>/viewbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBookForm</servlet-name>
        <url-pattern>/issuebookform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBook</servlet-name>
        <url-pattern>/issuebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewIssuedBook</servlet-name>
        <url-pattern>/viewissuedbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBookForm</servlet-name>
        <url-pattern>/returnbookform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBook</servlet-name>
        <url-pattern>/returnbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutLibrarian</servlet-name>
        <url-pattern>/logoutlibrarian</url-pattern>
    </servlet-mapping>
</web-app>